body {
	font-family: 'Lato', sans-serif;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
}
.menu-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
	margin-left: 10px;
}
.left {
	width: 20%;
	background-color:white;
}
.leftnav {
	margin-left: 75px;
}
.link {
	font-size: 14px;
	margin-left: 15px;
	margin-right: 25px;
}
.CATEGORIES {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
	margin-left: 75px;
}
.nav A {
	color: white;
	text-decoration: none;
}
.leftnav A {
	text-decoration: none;
}
.leftMenuItem {
	display: flex;
	height: 50px;
	align-items: center;
	border-bottom: 1px solid gray;
}