body {
	font-family: 'Lato', sans-serif;
}
.card {
	margin: 10px 25px;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
}
.menu-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
	margin-left: 10px;
}
.CATEGORIES {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:red;
	color: white;
	margin-left: 10px;
}
A {
	color: white;
	text-decoration: none;
}